#app.pc .page-footer .page-footer-inner .links {
  height: 2.76rem;
  background: #494949;
  padding: 0.6rem 0;
}
#app.pc .page-footer .page-footer-inner .links .list {
  width: 12rem;
  margin: 0 auto;
}
#app.pc .page-footer .page-footer-inner .links .list .item .item_title {
  height: 0.41rem;
  font-size: 0.36rem;
  font-family: SFPro-Semibold, SFPro;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 0.41rem;
  margin-bottom: 0.23rem;
}
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row1,
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row2 {
  display: flex;
  align-items: center;
}
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row1 a,
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row2 a {
  height: 0.41rem;
  font-size: 0.28rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.41rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row1 a img,
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row2 a img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.2rem;
}
#app.pc .page-footer .page-footer-inner .links .list .item .item_content .row2 {
  margin-top: 0.15rem;
}
#app.pc .page-footer .page-footer-inner .about-us {
  background: #000;
  min-height: 3.37rem;
  padding: 0.6rem 0;
}
#app.pc .page-footer .page-footer-inner .about-us .inner {
  width: 12rem;
  margin: 0 auto;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 {
  display: flex;
  margin-bottom: 0.6rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col1 {
  margin-right: 0.41rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col1 .logo {
  display: flex;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col1 .logo img {
  width: 0.6rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p1 {
  font-size: 0.28rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.41rem;
  letter-spacing: 1px;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 {
  margin-bottom: 0.15rem;
  display: flex;
  align-items: center;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .text {
  font-size: 0.28rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.41rem;
  letter-spacing: 1px;
  margin-right: 0.16rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .img-list {
  display: flex;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .img-list img {
  height: 0.3rem;
  min-width: 0.5rem;
  margin-right: 0.07rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row2 .text1 {
  height: 0.19rem;
  font-size: 0.28rem;
  font-family: SFPro-Regular, SFPro;
  font-weight: 400;
  color: #646464;
  line-height: 0.19rem;
  margin-right: 0.4rem;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row2 .text2 {
  height: 0.19rem;
  font-size: 0.28rem;
  font-family: SFPro-Regular, SFPro;
  font-weight: 400;
  color: #3770B1;
  line-height: 0.19rem;
  display: flex;
  align-items: center;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row2 .text2 a {
  color: #4A90E2;
}
#app.pc .page-footer .page-footer-inner .about-us .inner .row2 .text2 span {
  color: #646464;
  margin: 0 0.12rem;
}
#app.mobile .page-footer .page-footer-inner .links {
  height: 5.76923077rem;
  background: #494949;
  padding: 0.76923077rem 0;
}
#app.mobile .page-footer .page-footer-inner .links .list {
  width: 100%;
  padding: 0 0.61538462rem;
}
#app.mobile .page-footer .page-footer-inner .links .list .item {
  width: 50%;
}
#app.mobile .page-footer .page-footer-inner .links .list .item:nth-of-type(n+3) {
  margin-top: 0.74358974rem;
}
#app.mobile .page-footer .page-footer-inner .links .list .item .item_title {
  height: 0.51282051rem;
  font-size: 0.51282051rem;
  font-family: SFPro-Semibold, SFPro;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 0.51282051rem;
  margin-bottom: 0.20512821rem;
}
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row1,
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row2 {
  display: flex;
  align-items: center;
}
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row1 a,
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row2 a {
  font-size: 0.41025641rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.41025641rem;
  display: flex;
  align-items: center;
}
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row1 a img,
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row2 a img {
  width: 0.38461538rem;
  height: 0.38461538rem;
  margin-right: 0.12820513rem;
}
#app.mobile .page-footer .page-footer-inner .links .list .item .item_content .row2 {
  margin-top: 0.20512821rem;
}
#app.mobile .page-footer .page-footer-inner .about-us {
  background: #000;
  padding: 0.76923077rem 0.51282051rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner {
  margin: 0 auto;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 {
  display: flex;
  margin-bottom: 0.76923077rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col1 {
  margin-right: 0.51282051rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col1 .logo {
  display: flex;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col1 .logo img {
  width: 1.15384615rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p1 {
  font-size: 0.41025641rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.51282051rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 {
  margin-bottom: 0.46153846rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .text {
  font-size: 0.41025641rem;
  font-family: SFPro-Light, SFPro;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0.41025641rem;
  margin-bottom: 0.25641026rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .img-list {
  display: flex;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row1 .col2 .p2 .img-list img {
  height: 0.69230769rem;
  min-width: 1.15384615rem;
  margin-right: 0.15384615rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row2 .text1 {
  font-size: 0.41025641rem;
  font-family: SFPro-Regular, SFPro;
  font-weight: 400;
  color: #646464;
  line-height: 0.41025641rem;
  margin-bottom: 0.33333333rem;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row2 .text2 {
  font-size: 0.41025641rem;
  font-family: SFPro-Regular, SFPro;
  font-weight: 400;
  color: #3770B1;
  line-height: 0.41025641rem;
  display: flex;
  align-items: center;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row2 .text2 a {
  color: #4A90E2;
}
#app.mobile .page-footer .page-footer-inner .about-us .inner .row2 .text2 span {
  color: #646464;
  margin: 0 0.12rem;
}
