<template class="pc_temp">
    <div class="section links">
        <div class="list aic jcsb">
            <div class="item">
                <div class="item_title" data-i18n="page_footer.about_us">About us</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="./company.html" data-i18n="page_footer.company">Company</a>
                    </div>
                    <div class="row2">
                        <a href="./security.html" data-i18n="page_footer.security">Security</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.social">Social</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="https://twitter.com/www_bit_store" target="_blank" class="fz_30 color_f"><img src="./imgs/footer/twitter.png" /><span data-i18n="page_footer.twitter">Twitter</span></a>
                    </div>
                    <div class="row2">
                        <a href="https://t.me/Bitstore_official" target="_blank" class="fz_30 color_f"><img src="./imgs/footer/telegram.png" /><span data-i18n="page_footer.telegram">Telegram</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.contract_address">Contract Address</div>
                <div class="item_content">
                    <div class="row1">
                        <a target="_blank" href="https://etherscan.io/address/0x31ea0de8119307aA264Bb4b38727aAb4E36b074f" class="">
                            <img src="./imgs/footer/eth.png" alt="">
                            <span data-i18n="page_footer.etherscan">Etherscan</span>
                        </a>
                    </div>
                    <div class="row2">
                        <a target="_blank" href="https://bscscan.com/address/0x65d9033cff96782394dAB5dbEf17Fa771bbe1732" class="">
                            <img src="./imgs/footer/bsc.png" alt="">
                            <span data-i18n="page_footer.bscscan">BscScan</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.contact_us">Contact Us</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="mailto:Support@bit.Store" data-i18n="page_footer.support">Support@bit.Store</a>
                    </div>
                    <div class="row2">
                        <a href="mailto:Service@bit.Store" data-i18n="page_footer.service">Service@bit.Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="inner">
            <div class="row1">
                <div class="col1">
                    <div class="logo">
                        <img src="./imgs/footer/logo.png" alt="">
                    </div>
                </div>
                <div class="col2">
                    <div class="p2">
                        <div class="text" data-i18n="page_footer.supported">Supported Payment Method:</div>
                        <div class="img-list">
                            <img src="./imgs/footer/master.png" alt="">
                            <img src="./imgs/footer/visa.png" alt="">
                            <img src="./imgs/footer/ovo.png" alt="">
                            <img src="./imgs/footer/bni.png" alt="">
                            <img src="./imgs/footer/dana.png" alt="">
                        </div>
                    </div>
                    <div class="p1" data-i18n="page_footer.bitstore"> BITSTORE OPERATION PTE. LTD. </div>
                </div>
            </div>
            <div class="row2">
                <div class="text1" data-i18n="page_footer.bit_store"> Bit.Store 2022 All Rights Reserved</div>
                <div class="text2">
                    <a target="_blank" href="./useragreement.html" data-i18n="page_footer.user_agreement">User Agreement</a>
                    <span>&</span>
                    <a target="_blank" href="./termprivacy.html" data-i18n="page_footer.provacy_policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</template>
<template class="mobile_temp">
    <div class="section links">
        <div class="list aic jcsb fww">
            <div class="item">
                <div class="item_title" data-i18n="page_footer.about_us">About us</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="./company.html" data-i18n="page_footer.company">Company</a>
                    </div>
                    <div class="row2">
                        <a href="./security.html" data-i18n="page_footer.security">Security</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.social">Social</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="https://twitter.com/www_bit_store" target="_blank" class="fz_30 color_f"><img src="./imgs/footer/m/twitter.png" /><span data-i18n="page_footer.twitter">Twitter</span></a>
                    </div>
                    <div class="row2">
                        <a href="https://t.me/Bitstore_official" target="_blank" class="fz_30 color_f"><img src="./imgs/footer/m/telegram.png" /><span data-i18n="page_footer.telegram">Telegram</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.contract_address">Contract Address</div>
                <div class="item_content">
                    <div class="row1">
                        <a target="_blank" href="https://etherscan.io/address/0x31ea0de8119307aA264Bb4b38727aAb4E36b074f" class="">
                            <img src="./imgs/footer/m/eth.png" alt="">
                            <span data-i18n="page_footer.etherscan">Etherscan</span>
                        </a>
                    </div>
                    <div class="row2">
                        <a target="_blank" href="https://bscscan.com/address/0x65d9033cff96782394dAB5dbEf17Fa771bbe1732" class="">
                            <img src="./imgs/footer/m/bsc.png" alt="">
                            <span data-i18n="page_footer.bscscan">BscScan</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title" data-i18n="page_footer.contact_us">Contact Us</div>
                <div class="item_content">
                    <div class="row1">
                        <a href="mailto:Support@bit.Store" data-i18n="page_footer.support">Support@bit.Store</a>
                    </div>
                    <div class="row2">
                        <a href="mailto:Service@bit.Store" data-i18n="page_footer.service">Service@bit.Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="inner">
            <div class="row1">
                <div class="col1">
                    <div class="logo">
                        <img src="./imgs/footer/m/logo.png" alt="">
                    </div>
                </div>
                <div class="col2">
                    <div class="p2">
                        <div class="text" data-i18n="page_footer.supported">Supported Payment Method:</div>
                        <div class="img-list">
                            <img src="./imgs/footer/m/master.png" alt="">
                            <img src="./imgs/footer/m/visa.png" alt="">
                            <img src="./imgs/footer/m/ovo.png" alt="">
                            <img src="./imgs/footer/m/bni.png" alt="">
                            <img src="./imgs/footer/m/dana.png" alt="">
                        </div>
                    </div>
                    <div class="p1" data-i18n="page_footer.bitstore"> BITSTORE OPERATION PTE. LTD. </div>
                </div>
            </div>
            <div class="row2">
                <div class="text1" data-i18n="page_footer.bit_store"> Bit.Store 2022 All Rights Reserved</div>
                <div class="text2">
                    <a target="_blank" href="./useragreement.html" data-i18n="page_footer.user_agreement">User Agreement</a>
                    <span>&</span>
                    <a target="_blank" href="./termprivacy.html" data-i18n="page_footer.provacy_policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</template>
<div class="page-footer-inner"></div>